 body {
<<<<<<< HEAD
     color: black;
=======
     color: #333;
>>>>>>> footer
     text-align:center; /* definimos la alineacion del texto*/
     font-family: arial; /*tipo de letra*/
     font-size: 16px; /* tamaño de la funete */
     margin: 0;
     padding: 0;
 }        
 
 #cabecera{
     background: #37488b;
     box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
     font-weight: bold;
     color: white;
     padding: 0.5em;
     margin: 0;

 }

 #cabecera #logo{
     width: 20px;
     vertical-align: middle; /* alineado el logo a la mitad */
    
}
 #cabecera #tagline{
     padding: 0 0 0 1em;
     
     font-weight: normal;
     font-size:0.8em;
 }
 #container{ /* creamos la caja */
     width: 70%; /* definimos el ancho de cuadro*/
     padding: 0; /* distancia del texto y el cuadro */
     text-align: left;/*alieacion del texto*/
     border: 1px solid #ddd; /* para ver el borde*/
     margin: 0% auto;/*para que se cetre*/

 }

 #container h1{

    font-size: 20px; /*bajamos un poco el tamaño del titulo h1*/
 }
<<<<<<< HEAD
 #post {
     background: white; /*agregamos el fondo del post */
     padding: 1em;
=======

 #footer{
    background: rgb(39, 26, 26);
    color: white;
    text-align: center;
    padding: 0.5em;
>>>>>>> footer
 }